*.iml
*.log
*.pid
*.pid.lock
*.tgz
.DS_Store
.gradle/
.idea/**
build/
.navigation
captures/
output.jso
*/local.properties
.idea/workspace.xml
.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.jks
*.apk
*.dex
*.class
obj/
.externalNativeBuild
temp/*

retailmeetup/keystore.credentials
